@model IEnumerable<gyakmvc40702.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    
}



<h2>The Latest Reviews</h2>


We are showing the latest @Model.Count() reviews


@foreach (var item in Model)
{
   
    @Html.Partial("_Review", item)
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

